html { height: 100% }
#map_canvas { height: 100% }

body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: Sans-serif;
	font-size: 14px;
}

li {
	margin-left: -20px;
}

.stationname {
	background-color: #EE0000;
	color: #FFFFFF;
	width: 85%;
	padding: 3px;
	padding-left: 10px;
	margin-top: 0px;
	font-weight: bold;
}